[submodule "external/cxxargs"]
	path = external/cxxargs
	url = https://github.com/tmaklin/cxxargs.git
[submodule "external/bxzstr"]
	path = external/bxzstr
	url = https://github.com/tmaklin/bxzstr.git
